@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');

.logo-text {
  background-image: url("/hero/hero-bg.png");
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: cover;
}

.home__img {
  background: url("/hero/developer.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: inset 0 0 0 9px rgb(255, 255, 255/ 30%);
  order: 1;
  justify-self: center;
  width: 400px;
  height: 400px;
  animation: profile_animate 8s ease-in-out infinite 1s;
}

@keyframes profile_animate {
  0% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }

  50% {
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
  }

  100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
}

.kalam-regular {
  font-family: "Kalam", cursive;
  font-weight: 600;
  font-style: normal;
}

@layer base {
  :root {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9;
  }

  .dark {
    --background: 237 22% 20%;
    --foreground: 60 9.1% 97.8%;
    --card: 240 19% 16%;
    --card-foreground: 300 0% 100%;
    --popover: 20 14.3% 4.1%;
    --popover-foreground: 60 9.1% 97.8%;
    --primary: 8 99% 67%;
    --primary-foreground: 300 0% 100%;
    --secondary: 240 19% 16%;
    --secondary-foreground: 300 0% 100%;
    --tertiary: 237 22% 20%;
    --muted: 12 6.5% 15.1%;
    --muted-foreground: 237 13% 63%;
    --accent: 240 19% 16%;
    --accent-foreground: 300 0% 100%;
    --destructive: 0 72.2% 50.6%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 237 22% 23%;
    --input: 237 22% 23%;
    --ring: 8 99% 67%;
  }
}


@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground overflow-x-hidden;
  }
}

@layer components {
  .tagcloud {
    @apply inline-block top-0 left-0 font-sans font-semibold tracking-tighter text-xl w-min;
  }

  .tagcloud:not(:first-child) {
    @apply hidden;
  }

  .tagcloud--item {
    @apply uppercase hover:text-white;
  }

  .h1 {
    @apply lg:text-6xl text-4xl lg:leading-[80px] lg:tracking-[-2px] font-bold;
  }

  .h2 {
    @apply text-4xl font-bold;
  }

  .h3 {
    @apply text-3xl font-bold;
  }

  .h4 {
    @apply text-[22px] font-semibold;
  }

  .subtitle {
    @apply text-muted-foreground text-lg mb-8 font-light;
  }

  .section-title {
    @apply text-4xl font-bold relative w-max flex items-center justify-between gap-x-3 before:bg-dots_light before:bg-no-repeat before:bg-center before:w-[24px] before:h-[24px];
  }

  .badge {
    @apply z-10 w-[200px] h-[68px] bg-white backdrop-blur-[44px] shadow-2xl p-4 rounded-[10px] lg:flex hidden items-center gap-x-4;
  }

  /* swiper bullets styles */
  .swiper-horizontal>.section-pagination-bullets .swiper-pagination-bullet,
  .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    @apply bg-primary;
  }
}